.ConfirmationModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 237px;
  max-width: 390px;
  text-align: center;
  overflow: none;
}

.ConfirmationModal label {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.ConfirmationModal button {
  border: 1px solid lightgray;
  border-radius: 0;
  margin: 5px;
  padding: 5px;
  width: 50px;
  margin-bottom: 0;
}

.ConfirmationModal button:hover {
  background-color: lightgray;
}

.confirmBtn {
  color: white;
  background-color: #e6897c;
  border: 1px solid #e6897c !important;
  font-weight: bold;
}

.confirmBtn:hover {
  background-color: crimson !important;
}
